<header class="header">
  <div class="header__container container">
      <a href="./#hero" class="header__logo logo">Syntiq-Matic</a>

      <nav class="header__nav nav">
          <ul class="nav__list">
              <li class="nav__item"><a href="./#hero" class="nav__link">Главная</a></li>
              <li class="nav__item"><a href="./#strategy" class="nav__link">Стратегия</a></li>
              <li class="nav__item"><a href="./#analytics" class="nav__link">Аналитика</a></li>
              <li class="nav__item"><a href="./#cases" class="nav__link">Кейсы</a></li>
              <li class="nav__item"><a href="./#trust" class="nav__link">Партнерство</a></li>
              <li class="nav__item"><a href="./#contact" class="nav__link nav__link--cta button--small">Связаться</a></li>
          </ul>
      </nav>
      <button class="header__burger" id="menuToggle" aria-label="Открыть меню">
          <i data-lucide="menu"></i>
      </button>
  </div>
</header>